body {
  background-color: #34495e;
}

html * {
  color: #f8f9fa;
}

p {
  font-size: 1.25rem;
}

a:hover, a:hover div * {
  color: #e74c3c;
  text-shadow: 5px 5px 10px #212529;
}

a, a:hover, a div *, a:hover div * {
  transition: color .25s, text-shadow .25s;
}

// No transitions on preload
.preload {
  transition: none;
}

.footer {
  position: fixed;
  bottom: 0;
}

.nowrap {
  white-space: nowrap;
}
