body {
  background-color: #34495e;
}

html * {
  color: #f8f9fa;
}

p {
  font-size: 1.25rem;
}

.text-shadow {
  text-shadow: 5px 5px 10px #212529;
}

a:hover, a:hover * {
  color: #e74c3c;
}

.footer {
  position: fixed;
  bottom: 0;
}

.nowrap {
  white-space: nowrap;
}
