<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Martin Fink <martin@finkmartin.com>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Martin Fink</title>

    <% include snippets/header_links.ejs %>
</head>

<body class="preload">

<div class="vertical-center">
    <div class="container my-3 my-lg-5">
        <h1 class="font-weight-bold text-center my-3">Hello.</h1>

        <div class="text-center">
            <p class="my-1">
                My name is Martin Fink. I am a <%= age %> year old student
                <a href="http://tfobz.it" target="_blank">@ TFO "Max Valier"</a> in Bolzano.
            </p>
            <p class="my-1">
                I am also a free-time developer.
            </p>
        </div>

    </div>
</div>

<div class="footer">
    <div id="footer-transitions" class="p-3">
        <a class="text-uppercase" target="_blank" href="https://twitter.com/mrtn_fink">
            <div class="nowrap d-inline-block mx-2"><i class="mr-2 ion ion-logo-twitter"></i><span>Twitter</span></div>
        </a>
        <a class="text-uppercase" target="_blank" href="https://www.linkedin.com/in/fink-martin">
            <div class="nowrap d-inline-block mx-2"><i class="mr-2 ion ion-logo-linkedin"></i><span>LinkedIn</span></div>
        </a>
        <a class="text-uppercase" target="_blank" href="https://gitlab.com/martin-fink">
            <div class="nowrap d-inline-block mx-2"><i class="mr-2 ion ion-md-git-branch"></i><span>Gitlab</span></div>
        </a>
        <a class="text-uppercase" target="_blank" href="https://svilupe.com">
            <div class="nowrap d-inline-block mx-2"><i class="mr-2 ion ion-md-laptop"></i><span>Svilupe</span></div>
        </a>
        <a class="text-uppercase" target="_blank" href="mailto:martin@finkmartin.com">
            <div class="nowrap d-inline-block mx-2"><i class="mr-2 ion ion-md-mail"></i><span>Contact</span></div>
        </a>
    </div>
</div>

</body>

</html>
