<!--
   Copyright 2018 Martin Fink

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<!DOCTYPE html>
<html>
<head>
    <title>Martin Fink</title>

    <meta name="description" content="Personal website of Martin Fink">
    <% const filename = __filename; %>
    <% include snippets/header_links.ejs %>
    <% include snippets/seo.ejs %>
</head>

<style>* {
        color: #f8f9fa;
    }</style>

<body class="preload">
<div class="vertical-center">
    <div class="container my-3 my-lg-5">
        <h1 class="font-weight-bold text-center my-3"><%= __('index_title') %></h1>

        <div class="text-center">
            <p class="my-1">
                <%= __('index_introduction_1', age) %>
                <a href="https://tum.de" target="_blank">@ TUM</a>
                <%= __('index_introduction_2') %>
            </p>
        </div>

    </div>
</div>

<div class="footer">
    <div id="footer-transitions" class="p-3">
        <a class="text-uppercase" target="_blank" href="https://twitter.com/mrtn_fink">
            <div class="nowrap d-inline-block mx-2"><i class="mr-2 ion ion-logo-twitter"></i><span>Twitter</span>
            </div>
        </a>
        <a class="text-uppercase" target="_blank" href="https://www.linkedin.com/in/fink-martin">
            <div class="nowrap d-inline-block mx-2"><i class="mr-2 ion ion-logo-linkedin"></i><span>LinkedIn</span>
            </div>
        </a>
        <a class="text-uppercase" target="_blank" href="https://gitlab.com/martin-fink">
            <div class="nowrap d-inline-block mx-2"><i class="mr-2 ion ion-md-git-branch"></i><span>Gitlab</span>
            </div>
        </a>

        <div class="nowrap d-inline-block mx-2">
            <i class="mr-2 ion ion-md-mail"></i><img id="email" src="/static/images/email.png">
        </div>
    </div>
</div>

</body>

</html>
