<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Martin Fink <martin@finkmartin.com>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Martin Fink</title>

    <% include snippets/header_links.ejs %>
</head>

<body>

<div class="vertical-center">
    <div class="container my-3 my-lg-5">
        <h1 class="font-weight-bold text-center">Hello.</h1>

        <div class="text-center">
            <p>
                My name is Martin Fink. I am a <%= age %> old student @
                <a href="http://http://tfobz.it/">TFO "Max Valier"</a> in Bolzano. I am also a free-time developer.
            </p>
        </div>

    </div>
</div>

<div class="footer">
    <div class="p-3">
        <a class="text-uppercase mx-2" target="_blank" href="https://twitter.com/mrtn_fink">
            <i class="mr-1 ion ion-logo-twitter"></i>Twitter
        </a>
        <a class="text-uppercase mx-2" target="_blank" href="https://www.linkedin.com/in/fink-martin/">
            <i class="mr-1 ion ion-logo-linkedin"></i> LinkedIn
        </a>
        <a class="text-uppercase mx-2" target="_blank" href="https://svilupe.com">
            <i class="mr-1 ion ion-md-share"></i> Svilupe
        </a>
        <a class="text-uppercase mx-2" target="_blank" href="mailto:martin@finkmartin.com">
            <i class="mr-1 ion ion-md-mail"></i> Contact
        </a>
    </div>
</div>

</body>

</html>
